//! Файл обнуляющих стилей
@import "nullstyle.scss";
//!===========================================================

.container {
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 15px;
}

body {
	font-family: 'PT Serif', serif;
	//? font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 128.5%;
	color: #5e5e5e;
}

.default-btn {
	font-family: 'Roboto', sans-serif;
	line-height: 171%;
	font-weight: 500;
	letter-spacing: 0.025em;
	color: #fff;
	padding: 10px 24px;
	border: 1px solid #ffc222;
	display: inline-block;
	border-right-width: 20px;
	position: relative;
	&::after {
		content: "\f105";
		font-family: 'icomoon';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -12px;
	}
}
.slick-btn {
	position: absolute;
	top: 75%;
	z-index: 3;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	transition: all .5s;
	color: #fff;
	cursor: pointer;
	background-color: #ffc222;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
	}
	&.slick-disabled {
		cursor: default;
		background-color: transparent;
	}
}
.slick-next {
	right: 0;
	&::before {
		content: "\f105";
		font-family: 'icomoon';
	}
}
.slick-prev {
	left: 0;
	&::before {
		content: "\f104";
		font-family: 'icomoon';
	}
}

.services__top, .news__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.services__title-box, .form__title-box, .news__title-box {
	max-width: 520px;
	padding-left: 140px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 100px;
		height: 2px;
		background-color: #ffc222;
		left: 0;
		top: 11px;
	}
}

.services__title, .form__title, .news__title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #212020;
	line-height: 100%;
	margin-bottom: 14px;
}
.services__text, .form__text, .news__text {
	line-height: 128.5%;
	letter-spacing: 0.01em
}
.services__btn a, .news__btn a {
	color: #373636;
	letter-spacing: 0.025em;
	font-family: 'Roboto', sans-serif;
	line-height: 171%;
	padding: 5px 38px;
	border: 3px solid #e6e6e6;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	& li {
		margin: 0px 10px;
		&.slick-active button {
			border: 1px solid #fff;
			background-color: #ffc222;
			height: 12px;
			width: 12px;
		}
	}
	& button {
		font-size: 0;
		width: 8px;
		height: 8px;
		background-color: #fff;
		border-radius: 50%;
	}
}

.news__slider-inner .slick-dots {
	& .slick-active button {
		border: 1px solid #bcb8b8;
	}
	& button {
		background-color: #bcb8b8;
	}
}

#modal {
	width: 300px;
	display: none;
	& input {
		display: block;
		height: 40px;
		width: 100%;
		outline: none;
		border: 1px solid #e6e6e6;
		padding: 0px 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		&[type="submit"] {
			background-color: #ffc222;
			border: none;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
//!									HEADER									
.header {
	font-family: 'Roboto', sans-serif;

	&__top {
		background-color: #303030;
	}

	&__contacts {
		&::after {
			content: '';
			clear: both;
			display: block;
		}
	}

	&__phone, &__email {
		color: #cbcacb;
		line-height: 321%;
		letter-spacing: 0.025em;
		position: relative;
		&:hover {
			text-decoration: underline;
		}
	}

	&__phone {
		padding: 0px 30px 0px 20px;
		&::before {
			content: "\f095";
			font-family: 'icomoon';
			position: absolute;
			left: 0;
			color: #ffc222;
		}
	}

	&__email {
		padding-left: 24px;
		&::before {
			content: "\f003";
			font-family: 'icomoon';
			position: absolute;
			left: 0;
			color: #ffc222;
		}
	}

	&__btn {
		float: right;
		font-size: 16px;
		line-height: 225%;
		padding: 5px 22px 4px 50px;
		color: #1b1b1b;
		background-color: #ffc222;
		position: relative;
		&::before {
			content: "\f0b1";
			font-family: 'icomoon';
			position: absolute;
			left: 22px;
			color: #2a251c;
		}
	}

	&__content {
		padding: 34px 0px 23px;
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
	}
	&__btn-menu {
		display: none;
		font-size: 28px;
		cursor: pointer;
	}
	#modal {
		display: none;
	}
}
.menu {

	& li {
		display: inline-block;
		&:not(:last-child) {
			padding-right: 10px;
		}
	}

	& a {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 225%;
		color: #323232;
		padding: 11px 19px 9px;
		border: 1px solid transparent;
		transition: all 0.5s;
		&:hover {
			border: 1px solid #ffc222;
		}
	}
}

.icon-bars {
}


//!									SLIDER								

.slider {
	background: url(../img/header/slider-fon.jpg) center / cover no-repeat;
	min-height: 500px;
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);
	}
	&__inner {
		position: relative;
	}

	&__item {

	}

	&__item-content {
		text-align: center;
		padding-top: 110px;
		max-width: 665px;
		margin: 0px auto;
	}

	&__title {
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
		color: #fff;
		line-height: 120%;
		margin-bottom: 22px;
		letter-spacing: 1.5px;
	}

	&__text {
		font-size: 18px;
		color: #d3d2d2;
		line-height: 133%;
		margin-bottom: 50px;
	}

	&__btn {

	}

	.slick-btn {
		position: absolute;
		top: 75%;
		z-index: 3;
		width: 40px;
		height: 40px;
		border: 1px solid #fff;
		transition: all .5s;
		color: #fff;
		cursor: pointer;
		background-color: #ffc222;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform:translate(-50%, -50%);
		}
		&.slick-disabled {
			cursor: default;
			background-color: transparent;
		}
	}
	.slick-next {
		right: 0;
		&::before {
			content: "\f105";
			font-family: 'icomoon';
		}
	}
	.slick-prev {
		left: 0;
		&::before {
			content: "\f104";
			font-family: 'icomoon';
		}
	}
}
//!								SERVICES										

.services {
	padding: 50px 0px 30px;

	&__top {
	}

	&__title-box {
	}

	&__title {
	}

	&__text {
	}

	&__btn a{
	}

	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		max-width: 360px;
		text-align: center;
		padding: 30px 0px 80px;
		position: relative;
		min-height: 375px;
		background-color: #f9f9f9;
		box-shadow: 0px 7px 24px 3px rgba(91,89,89,0.14);
	}

	&__item-img {
	}

	&__item-title {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 133%;
		font-weight: 500;
		color: #212020;
		padding: 25px 0px;
	}

	&__item-text {
		letter-spacing: 0.01em;
		line-height: 128%;
		padding: 0px 30px 30px;
	}

	&__item-btn {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		& .default-btn {
			color: #373636;
			&::after {
				color: #fff;
			}
		}
	}

	&__item-link {
		font-family: 'Roboto', sans-serif;
		line-height: 171%;
		border-bottom: 1px solid #050505;
		margin-right: 60px;
	}
}
//!								ABOUT										

.about {
	background: url(../img/about/about-fon.jpg) center / cover no-repeat;
	min-height: 300px;
	padding: 25px 0px 45px;

	&__inner {
		max-width: 545px;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		line-height: 100%;
		color: #fff;
		font-weight: 500;
		padding: 10px 0px 25px;
	}

	&__text {
		line-height: 171%;
		letter-spacing: 0.01em;
		color: #d3d2d2;
		margin-bottom: 30px;
	}
}
.about-btn {
		font-family: 'Roboto', sans-serif;
		line-height: 171%;
		font-weight: 500;
		letter-spacing: 0.025em;
		&::after {
			color: #000;
		}
}
//!										FORM									
.form {
	padding-top: 30px;

	&__inner {
		padding-bottom: 40px;
		background: url(../img/form/form-fon.png) bottom right no-repeat;
		min-height: 460px;
	}

	&__content {
	}

	&__title-box {
	}

	&__title {
	}

	&__text {
	}

	&__box {
		max-width: 850px;
		padding-top: 45px;
	}

	&__box-inner {
		display: flex;
		justify-content: space-between;
		& label, & input, & textarea {
			display: block;
			width: 100%;
		}
		& label {
			font-family: 'Roboto', sans-serif;
			line-height: 257%;
			color: #282828;
		}
		& input {
			margin-bottom: 8px;
			height: 40px;
			border: 1px solid #e6e6e6;
			padding: 0px 10px;
		}
		& select {
			padding-left: 17px;
		}
		& textarea {
			padding: 10px;
			height: 207px;
			resize: none;
			border: 1px solid #e6e6e6;
			margin-bottom: 45px;
		}
		& button {
			background-color: transparent;
			color: #282828;
			line-height: 171%;
			letter-spacing: 0.025em;
			float: right;
		}
		& .jq-selectbox.jqselect {
			display: block;
			width: 100%;
		}
		& .jq-selectbox__select {
			height: 40px;
			border: 1px solid #e6e6e6;
			padding-left: 17px;
		}
		& .jq-selectbox__trigger-arrow::before {
			content: "\f105";
			font-family: 'icomoon';
			position: absolute;
			right: 17px;
			top: 0;
			transform: rotate(90deg);
		}
		& .jq-selectbox__dropdown {
			width: 100%;
			margin: 2px 0 0;
			padding: 0;
			border: 1px solid #e6e6e6;
			background: #FFF;
			box-shadow: 0 2px 10px rgba(0,0,0,.2);
		}
		& .jq-selectbox li {
			min-height: 18px;
			padding: 5px 17px 6px;
			color: #231F20;
		}
		& .jq-selectbox li.selected {
			background-color: #A3ABB1;
			color: #FFF;
		}
		& .jq-selectbox li:hover {
			background-color: #08C;
			color: #FFF;
		}
		& .jq-selectbox li.disabled {
			color: #AAA;
		}
		& .jq-selectbox li.disabled:hover {
			background: none;
		}
		& .jq-selectbox li.optgroup {
			font-weight: bold;
		}
		& .jq-selectbox li.optgroup:hover {
			background: none;
			color: #231F20;
			cursor: default;
		}
		& .jq-selectbox li.option {
			padding-left: 25px;
		}
	}

	&__box-left {
		max-width: 260px;
		width: 100%;
	}

	&__box-right {
		max-width: 555px;
		width: 100%;
	}
}
//!						ADVANTAGES										
.advantages {
	padding: 55px 0px 40px;
	background: url(../img/advantages/advantages-fon.jpg) center / cover no-repeat;
	min-height: 285px;

	&__inner {
		color: #fff;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	&__title {
		font-size: 18px;
		line-height: 133%;
		font-family: 'Roboto', sans-serif;
		padding: 60px 0px 15px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			border: 2px solid #ffc222;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		&::after {
			content: "\f00c";
			font-family: 'icomoon' !important;
			font-size: 14px;
			line-height: 171%;
			position: absolute;
			top: 9px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__text {
		line-height: 171%;
		letter-spacing: 0.01em;
		color: #d3d2d2;
	}
}
.advantages-item {
	max-width: 360px;
	padding: 0px 20px;
}
//!									NEWS									

.news {
	padding: 55px 0px 110px;
	background-color: #f9f9f9;
	&__top {
	}

	&__title-box {
	}

	&__title {
	}

	&__text {
	}

	&__btn {
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__slider {
		max-width: 555px;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 5px 15px 1px rgba(128,127,127,0.12);
		padding: 60px 35px 45px 70px;
		position: relative;
		&::before {
			content: "\f10e";
			font-family: 'icomoon' !important;
			position: absolute;
			top: 0;
			left: 70px;
			color: #fff;
			font-size: 16px;
			width: 65px;
			height: 30px;
			text-align: center;
			line-height: 112.5%;
			background-color: #ffc222;
			letter-spacing: 0.05em;
			padding-top: 8px;
		}
	}

	&__slider-inner {
	& .slick-btn {
		top: auto;
		bottom: -110px;
	}
	& .slick-next {
		right: -35px;
	}
	& .slick-prev {
		right: 20px;
		left: auto;
	}
	& .slick-disabled {
		border: 1px solid #dadada;
		&::before {
			color: #dadada;
		}
	}
}
	
	&__slider-item {
	}

	&__slider-title {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 133%;
		letter-spacing: 0.05em;
		color: #242424;
		padding-bottom: 20px;
	}

	&__slider-text {
		font-size: 14px;
		line-height: 128.5%;
		letter-spacing: 0.01em;
		color: #5e5e5e;
		padding-bottom: 30px;
	}

	&__slider-author {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		line-height: 128.5%;
		letter-spacing: 0.01em;
		color: #212020;
	}

	&__blog {
		max-width: 260px;
		width: 100%;
	}

	&__images {
		position: relative;
	}

	&__date {
		position: absolute;
		background-color: #ffc222;
		width: 55px;
		height: 50px;
		text-align: center;
		padding-top: 25px;
		line-height: 128.5%;
		font-weight: 700;
		color: #fff;
		top: 0;
		left: 10px;
	}

	&__blog-title {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 112.5%;
		font-weight: 500;
		color: #242424;
		letter-spacing: 0.05em;
		padding: 12px 0px;
	}

	&__blog-text {
		line-height: 128.5%;
		letter-spacing: 0.01em;
		color: #5e5e5e;
	}
}
//!									FOOTER								
.footer {

	&__content {
		background-color: #595959;
		padding: 20px 0px 30px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		& .header__btn {
			float: none;
			display: inline-block;
		}
	}

	&__info {
		max-width: 360px;
	}

	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		line-height: 225%;
		font-weight: 500;
		letter-spacing: 0.05em;
		color: #fff;
	}

	&__text {
		font-family: 'Roboto', sans-serif;
		line-height: 171%;
		color: #d3d2d2;
		padding: 20px 0px 25px;
	}

	&__list {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.025em;
		margin-top: 27px;
		& a {
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.025em;
			padding-left: 33px;
			position: relative;
			&::before {
				content: "\f003";
				font-family: 'icomoon' !important;
				position: absolute;
				left: 0;
				color: #ffc222;
			}
		}
		& li:not(:last-child) {
			margin-bottom: 10px;
		}
			& .footer__phone {
				&::before {
					content: "\f095";
					font-family: 'icomoon' !important;
					left: 3px;
				}
			}
			& .footer__adress {
				&::before {
					content: "\f041";
					font-family: 'icomoon' !important;
					left: 3px;
				}
			}
	}

	&__map {
		padding-top: 10px;
		max-width: 630px;
		width: 100%;
		& iframe {
			width: 100%;
		}
	}

	&__copy {
		background-color: #303030;
	}
}

.copy {

	&__text {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		line-height: 200%;
		letter-spacing: 0.05em;
		color: #fff;
		text-align: center;
		padding: 8px 0px;
	}
}
//!								MEDIA										
@import "media.scss";




















